/* styles.css */
.badge {
  position: absolute;
  top: -8px;
  left: 8px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red; /* Cor de fundo da badge */
  color: white; /* Cor do texto da badge */
  font-size: 10px; /* Tamanho da fonte do número */
  font-weight: bold; /* Peso da fonte do número */
}
