<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="login-form bg-light p-4 rounded">
        <h2 class="mb-4">Login</h2>
        <form (submit)="signIn()">
          <!-- Campos do formulário de login -->
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope"></i></span>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-lock"></i></span>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
          </div>
        
          <!-- Botão para fazer login -->
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
